:root {
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
}

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.content-container {
  padding: 50px;
  font-size: 22px;
  margin-top: 40px;
}

.menu-item {
  font-size: 24px;
  color: white; 
}

.custom-card-content {
  height: 440px;
  line-height: 1.0;
}
.home-container {
  text-align: left;
  line-height: 2.0;
  height: 780px;
  background-image: url(pink1.png);
  background-size: cover;
  background-repeat: no-repeat;
}
